<!-- main.html -->

<html>
  <head>
    <style type="text/css">
      body {
        font-family: Arial, sans-serif;
        font-size: 16px;
      }
      label, span {
        display: block;
      }
      span {
        font-size: 12px;
        color: gray;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <h1>{{ form.name }}</h1>
    <form method="post" action="submission/">
      {% csrf_token %}
      {% for field in form.formfield_set.all %}
        <div>
          <label>{{ field.label }}</label>
          <input type="text" name="{{ field.id }}">
          <span>{{ field.description }}</span>
        </div>
      {% endfor %}
      <input type="submit" name="Versturen">
    </form>
  </body>
</html>